---
layout: null
title: About
permalink: /about/
---

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="shortcut icon" href="{{ "/assets/img/favicon/favicon.ico" | prepend: site.baseurl }}" type="image/x-icon">
	<link rel="apple-touch-icon" href="{{ "/assets/img/favicon/apple-touch-icon.png" | prepend: site.baseurl }}">
	<link rel="apple-touch-icon" sizes="72x72" href="{{ "/assets/img/favicon/apple-touch-icon-72x72.png" | prepend: site.baseurl }}">
	<link rel="apple-touch-icon" sizes="114x114" href="{{ "/assets/img/favicon/apple-touch-icon-114x114.png" | prepend: site.baseurl }}">
	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#d25469">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#d25469">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#d25469">
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
	<link rel="stylesheet" href="{{ "/assets/fonts/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}">
	<!-- Styles -->
	<link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">

  <!-- Font Awesome icons (free version)-->
  <script src="https://kit.fontawesome.com/d4d10ca8ec.js" crossorigin="anonymous"></script>
  <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <!-- Google fonts-->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="{{ "/assets/css/portfolio-styles.css" | prepend: site.baseurl }}" rel="stylesheet" />
  <title> About me </title>
</head>

<body>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

  {% include header.html %}

  <header class="masthead bg-primary text-white text-center onload-animated gradient">
      <div class="container d-flex align-items-center flex-column">
          <!-- Masthead Avatar Image-->
          <img class="masthead-avatar mb-5" src="{{ "/assets/img/avatar.png" | prepend: site.baseurl}}" alt="" />
          <!-- Masthead Heading-->
          <h1 class="masthead-heading text-uppercase mb-0">Teodor-Paul Tonghioiu</h1>
          <!-- Icon Divider-->
          <div class="divider-custom divider-light">
              <div class="divider-custom-line"></div>
              <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
              <div class="divider-custom-line"></div>
          </div>
          <!-- Masthead Subheading-->
          <p class="masthead-subheading font-weight-light mb-0 text-white">Cybersecurity specialist</p>
      </div>
  </header>
  <!-- Portfolio Section-->
  <section class="page-section portfolio white-background onload-animated" id="portfolio">
      <div class="container">
          <!-- Portfolio Section Heading-->
          <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">What I do</h2>
          <!-- Icon Divider-->
          <div class="divider-custom">
              <div class="divider-custom-line"></div>
              <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
              <div class="divider-custom-line"></div>
          </div>
          <!-- Portfolio Grid Items-->
          <div class="row">
              <!-- Portfolio Item 1-->
              <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item h-100 w-100" data-toggle="modal" data-target="#portfolioModal1">
                  <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100 icon-background">
                      <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                  </div>
                  <div class="h-100 w-100 vertically-centered">
                      <i class="fas fa-globe fa-5x icon-margin icon-color"></i>
                      <span class="text-center growable service-text-margin text-secondary font-weight-bold large-font"> Web Application Security Testing </span>
                  </div>
                </div>
              </div>
              <!-- Portfolio Item 2-->
              <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item h-100 w-100" data-toggle="modal" data-target="#portfolioModal2">
                  <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100 icon-background">
                      <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                  </div>
                  <div class="h-100 w-100 vertically-centered">
                      <i class="fas fa-mobile-alt fa-5x icon-margin icon-color"></i>
                      <span class="text-center growable service-text-margin text-secondary font-weight-bold large-font"> Mobile Application Security Testing </span>
                  </div>
                </div>
              </div>
              <!-- Portfolio Item 3-->
              <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item h-100 w-100" data-toggle="modal" data-target="#portfolioModal3">
                  <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100 icon-background">
                      <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                  </div>
                  <div class="h-100 w-100 vertically-centered">
                      <i class="fas fa-network-wired fa-5x icon-margin icon-color"></i>
                      <span class="text-center growable service-text-margin text-secondary font-weight-bold large-font"> Network Penetration Testing </span>
                  </div>
                </div>
              </div>
              <!-- Portfolio Item 4-->
              <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item h-100 w-100" data-toggle="modal" data-target="#portfolioModal4">
                  <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100 icon-background">
                      <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                  </div>
                  <div class="h-100 w-100 vertically-centered">
                      <i class="fas fa-bug fa-5x icon-margin icon-color"></i>
                      <span class="text-center growable service-text-margin text-secondary font-weight-bold large-font"> Bug Bounty Hunting </span>
                  </div>
                </div>
              </div>
              <!-- Portfolio Item 5-->
              <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item h-100 w-100" data-toggle="modal" data-target="#portfolioModal5">
                  <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100 icon-background">
                      <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                  </div>
                  <div class="h-100 w-100 vertically-centered">
                      <i class="fas fa-code fa-5x icon-margin icon-color"></i>
                      <span class="text-center growable service-text-margin text-secondary font-weight-bold large-font"> Source code analysis </span>
                  </div>
                </div>
              </div>
              <!-- Portfolio Item 6-->
              <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item h-100 w-100" data-toggle="modal" data-target="#portfolioModal6">
                  <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100 icon-background">
                      <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                  </div>
                  <div class="h-100 w-100 vertically-centered">
                      <i class="fas fa-graduation-cap fa-5x icon-margin icon-color"></i>
                      <span class="text-center growable service-text-margin text-secondary font-weight-bold large-font"> Cybersecurity training </span>
                  </div>
                </div>
              </div>
          </div>
      </div>
  </section>
  <!-- About Section-->
  <section class="page-section bg-primary text-white mb-0 onload-animated" id="about">
      <div class="container">
          <!-- About Section Heading-->
          <h2 class="page-section-heading text-center text-uppercase text-white">About me</h2>
          <!-- Icon Divider-->
          <div class="divider-custom divider-light">
              <div class="divider-custom-line"></div>
              <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
              <div class="divider-custom-line"></div>
          </div>
          <!-- About Section Content-->
          <div class="row">
              <div class="col-lg-4 ml-auto"><p class="lead text-white">I am an enthusiastic cybersecurity professional who likes being up to date with the latest research and bring my own contribution to the field.</p></div>
              <div class="col-lg-4 mr-auto"><p class="lead text-white">I am glad to share information about my research with the public and help companies secure their infrastructure against cyber threats.</p></div>
          </div>
      </div>
  </section>
  <!-- Contact Section-->
  <section class="page-section portfolio white-background onload-animated smaller-padding-section" id="contact">
      <div class="container">
          <!-- Contact Section Heading-->
          <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Contact Me</h2>
          <!-- Icon Divider-->
          <div class="divider-custom">
              <div class="divider-custom-line"></div>
              <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
              <div class="divider-custom-line"></div>
          </div>
          <!-- Contact Section Form-->
          <div class="row mt-6">
              <!-- Portfolio Item 1-->
              <div class="col-md-6 col-lg-4 mb-5">
                  <div class="portfolio-item mx-auto w-100 h-90" data-toggle="modal">
                    {% if site.email %}
                    <a href="mailto:{{site.email}}">
                      <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100 mail-bg">
                          <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                      </div>
                    </a>
                    {% endif %}
                    <i class="fas fa-envelope w-100 h-100 contact-padding mail-color"></i>
                  </div>
              </div>
              <!-- Portfolio Item 2-->
              <div class="col-md-6 col-lg-4 mb-5">
                  <div class="portfolio-item mx-auto w-100 h-90" data-toggle="modal">
                    <a href="skype:teo.paul1?chat">
                      <div class="skype-bg portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                          <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                      </div>
                    </a>
                    <i class="fab fa-skype w-100 h-100 contact-padding skype-color"></i>
                  </div>
              </div>
              <!-- Portfolio Item 3-->
              <div class="col-md-6 col-lg-4 mb-5">
                  <div class="portfolio-item mx-auto w-100 h-90" data-toggle="modal">
                    <a href="https://twitter.com/messages/compose?recipient_id=1271795137" target="_blank">
                      <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100 twitter-bg">
                          <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                      </div>
                    </a>
                    <i class="fab fa-twitter-square w-100 h-100 contact-padding twitter-color"></i>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <!-- Portfolio Modals-->
  <!-- Portfolio Modal 1-->
  <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true"><i class="fas fa-times"></i></span>
              </button>
              <div class="modal-body text-center">
                  <div class="container">
                      <div class="row justify-content-center">
                          <div class="col-lg-8">
                              <!-- Portfolio Modal - Title-->
                              <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal1Label">Web application security testing</h2>
                              <!-- Icon Divider-->
                              <div class="divider-custom">
                                  <div class="divider-custom-line"></div>
                                  <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                  <div class="divider-custom-line"></div>
                              </div>
                              <!-- Portfolio Modal - Text-->
                              <p class="mb-5">This is my main area of expertise. An insecure web platform might lead to a bad image hit for the company or loss of user and employee data. I perform methodology driven penetration testing combined with automated tools and techniques learned while hunting bugs.</p>
                              <button class="btn btn-primary" data-dismiss="modal">
                                  <i class="fas fa-times fa-fw"></i>
                                  Close Window
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Portfolio Modal 2-->
  <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-labelledby="portfolioModal2Label" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true"><i class="fas fa-times"></i></span>
              </button>
              <div class="modal-body text-center">
                  <div class="container">
                      <div class="row justify-content-center">
                          <div class="col-lg-8">
                              <!-- Portfolio Modal - Title-->
                              <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal2Label">Mobile application security testing</h2>
                              <!-- Icon Divider-->
                              <div class="divider-custom">
                                  <div class="divider-custom-line"></div>
                                  <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                  <div class="divider-custom-line"></div>
                              </div>
                              <!-- Portfolio Modal - Text-->
                              <p class="mb-5">As with web applications, mobile apps can hide some critical bugs that can compromise your company. Make sure your clients can safely browse your app and your company's data is safe.</p>
                              <button class="btn btn-primary" data-dismiss="modal">
                                  <i class="fas fa-times fa-fw"></i>
                                  Close Window
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Portfolio Modal 3-->
  <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-labelledby="portfolioModal3Label" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true"><i class="fas fa-times"></i></span>
              </button>
              <div class="modal-body text-center">
                  <div class="container">
                      <div class="row justify-content-center">
                          <div class="col-lg-8">
                              <!-- Portfolio Modal - Title-->
                              <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal3Label">Network penetration testing</h2>
                              <!-- Icon Divider-->
                              <div class="divider-custom">
                                  <div class="divider-custom-line"></div>
                                  <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                  <div class="divider-custom-line"></div>
                              </div>
                              <!-- Portfolio Modal - Text-->
                              <p class="mb-5">There are always some insecure endpoints in your company, if not today tomorrow for sure. Make sure no one outside your company can access those endpoints and if an attack arises from inside there will be minimal damage.</p>
                              <button class="btn btn-primary" data-dismiss="modal">
                                  <i class="fas fa-times fa-fw"></i>
                                  Close Window
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Portfolio Modal 4-->
  <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-labelledby="portfolioModal4Label" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true"><i class="fas fa-times"></i></span>
              </button>
              <div class="modal-body text-center">
                  <div class="container">
                      <div class="row justify-content-center">
                          <div class="col-lg-8">
                              <!-- Portfolio Modal - Title-->
                              <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal4Label">Bug bounty hunting</h2>
                              <!-- Icon Divider-->
                              <div class="divider-custom">
                                  <div class="divider-custom-line"></div>
                                  <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                  <div class="divider-custom-line"></div>
                              </div>
                              <!-- Portfolio Modal - Text-->
                              <p class="mb-5">I test the infrastructure of companies with public security programs. I enjoy being creative and researching the newest techniques for finding bugs for those companies, as commonly occurring bugs are usually already fixed. I advise any company who has the necessary budget to start a bug bounty program, first a private one with a few researchers and as the platform grows more secure, a public program.</p>
                              <button class="btn btn-primary" data-dismiss="modal">
                                  <i class="fas fa-times fa-fw"></i>
                                  Close Window
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Portfolio Modal 5-->
  <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-labelledby="portfolioModal5Label" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true"><i class="fas fa-times"></i></span>
              </button>
              <div class="modal-body text-center">
                  <div class="container">
                      <div class="row justify-content-center">
                          <div class="col-lg-8">
                              <!-- Portfolio Modal - Title-->
                              <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal5Label">Source code analysis and API testing</h2>
                              <!-- Icon Divider-->
                              <div class="divider-custom">
                                  <div class="divider-custom-line"></div>
                                  <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                  <div class="divider-custom-line"></div>
                              </div>
                              <!-- Portfolio Modal - Text-->
                              <p class="mb-5">If your company policy allows it, I can analyze the source code and API for security bugs. This allows me to find additional bugs compared to a black box penetration test over the internet.</p>
                              <button class="btn btn-primary" data-dismiss="modal">
                                  <i class="fas fa-times fa-fw"></i>
                                  Close Window
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Portfolio Modal 6-->
  <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-labelledby="portfolioModal6Label" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true"><i class="fas fa-times"></i></span>
              </button>
              <div class="modal-body text-center">
                  <div class="container">
                      <div class="row justify-content-center">
                          <div class="col-lg-8">
                              <!-- Portfolio Modal - Title-->
                              <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal6Label">Cybersecurity training</h2>
                              <!-- Icon Divider-->
                              <div class="divider-custom">
                                  <div class="divider-custom-line"></div>
                                  <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                  <div class="divider-custom-line"></div>
                              </div>
                              <!-- Portfolio Modal - Text-->
                              <p class="mb-5">I can teach your technical and non-technical staff about best practices in cybersecurity. I also advise on the implementation of those practices specifically for your infrastructure.</p>
                              <button class="btn btn-primary" data-dismiss="modal">
                                  <i class="fas fa-times fa-fw"></i>
                                  Close Window
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  {% include arrow_top.html %}
  {% include javascripts.html %}
  {% include analytics.html %}
</body>

</html>
